<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/nav.css">

    <nav class="navbar navbar-expand-lg navbar-custom">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand">TEACHER MANAGEMENT</a>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li><a class="nav-link" href="/home">HOME</a></li>
              <li class="active">
                <a class="nav-link" href="/compose">CREATE<span class="sr-only">(current)</span></a>
              </li>
            </ul>
          </div>

          <div class="nav navbar-nav navbar-right">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item px-2">
                <a class="nav-link" href="/about"> ABOUT US</a>
              </li>
              <li class="nav-item px-2">
                <a class="nav-link" href="/userlogout" type="submit">LOGOUT</a>
              </li>
            </ul>
          </div>
      </nav>

  <body>
