<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/sidenav.css">

  <input type="checkbox" id="check">
      <label for="check">
          <i class="fa fa-bars" id="btn"></i>
          <i class="fa fa-times" id="cancel"></i>
      </label>
    <div class="sidebar">
      <header>TM Apps</header>
      <ul>
          <li><a href="/home"><i class="fa fa-home"></i>HOME</a></li>
          <li><a href="/profile"><i class="fa fa-link"></i>Profile</a></li>
          <li><a href="/settings"><i class="fa fa-cogs"></i>Settings</a></li>
          <li><a href="/about"><i class="fa fa-cogs"></i>About Us</a></li>
          <li><a href="/userpage"><i class="fa fa-question-circle"></i>User page</a></li>
          <li><a href="/contact"><i class="fa fa-envelope"></i>Contact Me</a></li>
          <li><a href="/policy"><i class="fa fa-envelope"></i>Policy</a></li>
      </ul>
    </div>
  <section></section>
<body>
