<%- include('partials/header'); -%>
<title>About</title>
<%- include('partials/sidenav'); -%>
    <style>
      .container {
       font-family:Arial, Helvetica, sans-serif;
       font-size:14px;
       border: 15px solid #bdc3c7;
	     padding: 15px;
	     max-width: 950px;
	     width: 70%;
	     margin: 20px auto;
	     font-family: Source Sans Pro;
       }
       .about-section {
         padding: 30px;
         text-align: center;
         background-color: #474e5d;
         color: white;
       }
       .card-img-top{
         max-width:150px;
         margin: 0 auto;
       }
       .card-body{
         text-align: center;
       }
    </style>

    <div class="container">
      <div class="about-section">
          <h1>About Us</h1>
      </div>
      <div class="post">
	        <div class="Date">Decembar 06 2020</div>
          <div class="card-group">
              <div class="card">
                <img class="card-img-top" src="/teacher/Abdur Rashid.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Professor Md. Abdur Rashid</h5>
                  <p class="card-text">Principal</p>
                  <p class="card-text">Tejgaon College & Syndicate member, National University</p>
                  <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="/teacher/HarunOrRashid.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Professor Harun Or Rashid</h5>
                  <p class="card-text">Vice Principal (Admin & Academic)</p>
                  <p class="card-text">Tejgaon College</p>
                  <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="/teacher/Anjum.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Professor Anjuman Ara</h5>
                  <p class="card-text">Vice Principal (Academic-1 and 2)</p>
                  <p class="card-text">Tejgaon College</p>
                  <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                </div>
              </div>
            </div>
        </div>
    </div>
