<%- include('partials/header'); -%>
<title>Contact</title>
<%- include('partials/sidenav'); -%>
    <style>
      .container {
       font-family:Arial, Helvetica, sans-serif;
       font-size:14px;
       background:#CCCCCC;
	     padding: 15px;
	     max-width: 850px;
	     margin: 0px auto;
       margin-top: 3rem;
       }
       .about-section {
         padding: 30px;
         text-align: center;
         background-color: #474e5d;
         color: white;
       }
       .post{
    	    border-left: 5px solid #321f28;
    	    padding: 5px;
          margin-top: .5rem;
          font-family: Source Sans Pro;
      }
      .Date{
    	   color: #9d0191;
    	   text-transform: uppercase;
    	   letter-spacing: 0.2rem;
         }
       .content-footer{
         background-color: #2E2E2E;
         text-align: center;
         max-width: 850px;
         margin: 0px auto;
         padding: 20px 0;
         letter-spacing: 0.05em;
       }
       .content-footer > p {
         color: #F7EDE1;
       }
       .social > li {
         display: inline-block;
         margin: 0 5px;
       }
       a {
           font-weight: bold;
           color: #F1C863;
        }

  </style>

    <div class="container">
      <div class="about-section">
          <h1>Contact</h1>
      </div>
      <div class="post">
	        <div class="Date">Decembar 06 2020</div>
            <h2>Kamrul Islam Hridoy</h2>
            <div class="first">
              <ul>
                  <li>Web Developer.</li>
                  <li>Number: 01821755142 / 01627796813</li>
                  <li>Email: rrhridoy1000@gmail.com</li>
              </ul>
            </div>
      </div>
    </div>
    <footer class="content-footer">
        <p>Say hi to me on these social networks:</p>
        <ul class="social">
          <li><a href="https://github.com/Kamrul52">GitHub</a></li>
          <li><a href="https://twitter.com/IamKIslam">Twitter</a></li>
          <li><a href="https://www.facebook.com/kamrulislamhridooy">Facebook</a></li>
        </ul>
    </footer>
