<%- include('partials/header'); -%>
<title>Home</title>
<%- include('partials/sidenav'); -%>
      <div class="container">
          <div class="mt-4">
              <h2 class="text-center display-4" style="text-align: center;"><b>তেজগাঁও কলেজ</b></h2>
              <hr style="border: 3px solid #ef476f;">
          </div>
      </div>

      <div class="container" style="margin-right: 1.5rem;">
        <div class="row">
          <div class="col md-10">
            <p><span><b>তেজগাঁও কলেজ,</b></span> বাংলাদেশের ঢাকায়, ফার্মগেটে অবস্থিত একটি বেসরকারি কলেজ। উচ্চ মাধ্যমিক ছাড়াও স্নাতক
            ও স্নাতকোত্তর শিক্ষা পরিচালনায় কলেজটি জাতীয় বিশ্ববিদ্যালয়ের অধিভুক্ত।</p>

              <h3>ইতিহাস</h3><hr style="border: 1px solid #5d2e46; margin-top: 0;">
                <p>
                  ১৯৬১ খ্রিষ্টাব্দে জনাব মাওলানা আবুল খায়েরের নিরলস কর্মপ্রচেষ্টায় ঢাকার বুড়িগঙ্গা নদীর তীর ঘেষে দাঁড়িয়ে থাকা ইসলামিয়া হাই স্কুলে
                   ঢাকা নাইট কলেজ নামে সর্বপ্রথম এই কলেজের যাত্রা শুরু। তখন কলেজটির সভাপতি ছিলেন তৎকালীন শিক্ষামন্ত্রী জনাব মফিজ উদ্দীন
                   আহমেদ ও সম্পাদক ছিলেন জনাব শফিকুল ইসলাম। সেসময়ে কলেজের আর্থিক অবস্থা খুব খারাপ ছিল, শিক্ষকরা বিনা বেতনে ক্লাস নিতেন।
                   তারপর প্রয়োজনের প্রেক্ষিতে জনাব মফিজ উদ্দীন কলেজটিকে ঢাকা আলিয়া মাদ্রাসায় স্থানান্তর করেন। এখানে ১৮ মাস ক্লাস চলার পর আবার
                   তেজগাঁও পলিটেকনিক হাই স্কুলে (বর্তমান তেজগাঁও সরকারি উচ্চ বিদ্যালয়) স্থানান্তর করা হয়। এখানে ক্লাস চলে ১৯৬৩ থেকে ১৯৬৬ খ্রিষ্টাব্দ
                  পর্যন্ত। নানা প্রতিকূলতায় কলেজকে আবারও স্থানান্তর করা হয় তেজগাঁও শিল্প এলাকার আসাদুল হকের ক্রাউন লন্ড্রিতে। অব্যবহিত পরে অধ্যক্ষ
                   আমিনুল ইসলাম তেজগাঁও শিল্প এলাকা থেকে কলেজটিকে নিয়ে আসেন ফার্মগেটের বর্তমান আল-রাজী হাসপাতালে। এসময়ে 'ঢাকা নাইট কলেজ'
                  নামটি পাল্টে বর্তমান 'তেজগাঁও কলেজ ঢাকা' নামটি রাখা হয়। ১৯৭১ খ্রিষ্টাব্দের মুক্তিযুদ্ধের পর জনাব তোফায়েল আহমেদ অধ্যক্ষের দায়িত্ব নিলে
                  কলেজটিকে স্থায়ী একটি নিবাস দিতে প্রাণান্ত প্রয়াস শুরু করেন। তিনি তৎকালীন ছাত্র-শিক্ষক-কর্মচারীদের সহায়তায় ঢাকার ফার্মগেটে জীবনের
                  ঝুঁকি নিয়ে কলেজ ও ছাত্রাবাসের জন্য জায়গা ক্রয় করেন। গণপ্রজাতন্ত্রী বাংলাদেশ সরকারের তৎকালীন শিক্ষামন্ত্রী জনাব ইউসুফ আলী কর্তৃক
                 ১২টন ঢেউটিন দিয়ে প্রথমবারের মতো কলেজের নিজস্ব অবকাঠামো নির্মাণ ও উন্নয়ন প্রক্রিয়া শুরু করা হয়। বর্তমানে কলেজটি ফার্মগেটের
                ১৬ নম্বর ইন্দিরা রোডে নিজস্ব ভবন নিয়ে শিক্ষা কার্যক্রম অব্যাহত রেখেছে।</p>

              <h3>বিবরন</h3><hr style="border: 1px solid #5d2e46; margin-top: 0;">
                <p>তেজগাঁও কলেজ নিজস্ব চারটি ছয়তলাবিশিষ্ট অট্টালিকা ও দুটি চারতলাবিশিষ্ট ভবন নিয়ে শিক্ষা কার্যক্রম পরিচালনা করছে। এই কলেজে সকাল ও বিকালে আলাদা শিফটে উচ্চ মাধ্যমিক শ্রেণী ছাড়াও স্নাতক ও স্নাতকোত্তর অধ্যয়নের ব্যবস্থা রয়েছে। কলেজটিতে ছেলে-মেয়ে উভয়ের শিক্ষার ব্যবস্থা রয়েছে। উচ্চ মাধ্যমিক শ্রেণীর ছাত্র-ছাত্রীদের জন্য নির্ধারিত পোশাক বা ইউনিফর্ম রয়েছে, অবশ্য স্নাতক ও স্নাতকোত্তর শ্রেণীর জন্য কোনো নির্ধারিত ইউনিফর্ম নেই।
                  কলেজের ছাত্র-ছাত্রীদের জন্য আলাদা আলাদা কমনরুম রয়েছে। কলেজ প্রাঙ্গনে ২০০৮ খ্রিষ্টাব্দে একটি শহীদ মিনার স্থাপন করা হয়। এছাড়া কলেজের একটি ভবনের দোতলায় পূর্ণাঙ্গ একটি জামে মসজিদ রয়েছে। কলেজের নতুন ভবনের নিচতলায় একটি বিশাল অডিটরিয়াম বা মিলনায়তন রয়েছে। এছাড়া কলেজের প্রয়োজনে তৎকালীন প্রধানমন্ত্রী খালেদা জিয়া কর্তৃক প্রদত্ত একটি বাস রয়েছে।
                  কলেজের শিক্ষক ও ছাত্রবৃন্দ রাজনীতির চর্চা করেন এবং এই কলেজের রাজনীতি বেশ সক্রীয়। যদিও এই কলেজের রাজনীতির কিছুটা নেতিবাচক প্রভাবও রয়েছে। কলেজের রাজনীতিকে কেন্দ্র করে শিক্ষার্থী ভর্তি-বাণিজ্য এবং সন্ত্রাসী কার্যকলাপেরও অভিযোগ রয়েছে।
                </p>

              <h3>অনুষদসমূহ</h3><hr style="border: 1px solid #5d2e46; margin-top: 0;">
                <p>তেজগাঁও কলেজে বিজ্ঞান, মানবিক এবং ব্যবসায় শিক্ষার ২6টি আলাদা আলাদা অনুষদ উচ্চ মাধ্যমিক, স্নাতক ও স্নাতকোত্তর শিক্ষা পরিচালনা করে আসছে। এই কলেজের অনুষদসমূহ হলো
                </p>

            <div class="row">
              <div class="col-sm-4" style="background-color:#ef476f;">
                <ul>
                  <li>সিএসই(কম্পিউটার বিজ্ঞান ও প্রকৌশল)</li>
                  <li>বিবিএ</li>
                  <li>বাংলা বিভাগ</li>
                  <li>ইংরেজি বিভাগ</li>
                  <li>গনিত বিভাগ</li>
                  <li>পরিসংখ্যান বিভাগ</li>
                  <li>অর্থনীতি বিভাগ</li>
                  <li>মার্কেটিং বিভাগ</li>
                  <li>ফিন্যান্স বিভাগ</li>
                </ul>
              </div>
              <div class="col-sm-4" style="background-color:pink;">
                <ul>
                  <li>হিসাববিজ্ঞান বিভাগ</li>
                  <li>ব্যবস্থাপনা বিভাগ</li>
                  <li>পদার্থবিজ্ঞান বিভাগ</li>
                  <li>রসায়ন বিভাগ</li>
                  <li>প্রাণিবিদ্যা বিভাগ</li>
                  <li>প্রাণরসায়ন বিভাগ</li>
                  <li>উদ্ভিদবিদ্যা বিভাগ</li>
                  <li>ইসলামিক স্টাডিজ বিভাগ</li>
                  <li>ইসলামের ইতিহাস এবং সংস্কৃতি বিভাগ</li>
                </ul>
              </div>
              <div class="col-sm-4" style="background-color:#C97D60;">
                <ul>
                  <li>ইতিহাস বিভাগ</li>
                  <li>রাষ্ট্রবিজ্ঞান বিভাগ</li>
                  <li>সমাজকল্যান বিভাগ</li>
                  <li>সমাজকর্ম বিভাগ</li>
                  <li>দর্শন বিভাগ</li>
                  <li>মনোবিজ্ঞান বিভাগ</li>
                  <li>ভূগোল বিভাগ</li>
                  <li>থিয়েটার এন্ড মিডিয়া স্টাডিজ বিভাগ</li>
                </ul>
              </div>
            </div>

            <h3 style="margin-top: 1rem;">গ্রন্থাগার ও পরীক্ষাগার</h3><hr style="border: 1px solid #5d2e46; margin-top: 0;">
            <p>কলেজের শিক্ষার্থীদের শিক্ষা সুবিধার্থে তেজগাঁও কলেজে একটি সুপরিসর গ্রন্থাগার রয়েছে। গ্রন্থাগারটি পালাক্রমে একাধিক গ্রন্থাগারিকের তত্ত্বাবধানে পরিচালিত হয়। এছাড়া বিভিন্ন বিষয়ানুগ ব্যবহারিক শিক্ষার প্রয়োজনে রয়েছে পরীক্ষাগার।
            </p>

            <h3>সহশিক্ষা কার্যক্রম</h3><hr style="border: 1px solid #5d2e46; margin-top: 0;">
            <p>কলেজের শিক্ষার্থীদেরকে সহশিক্ষা কার্যক্রমে উদ্বুদ্ধ করতে কলেজে বিভিন্ন সময় সাংস্কৃতিক অনুষ্ঠানের আয়োজন করা হয়। এছাড়া ডিবেটিং ক্লাব,থিয়েটার ক্লাব, বিএনসিসি, রোভার স্কাউট কার্যক্রমও পরিচালিত হয় কলেজে। এছাড়া বার্ষিক মিলাদ মাহফিল, বনভোজন আয়োজনের মাধ্যমে শিক্ষার্থীদের অনুপ্রাণিত করা হয়।
            </p>
            <ol>
              <li>দ্য প্রোগ্রামিং ক্লাব</li>
              <li>কোয়ালিটি ইমপ্রুভমেন্ট এন্ড ইইন্টারন্যাশনাল টুরিস্ট ক্লাব</li>
              <li>ডিবেট ক্লাব</li>
              <li>সত্যেন বোস সায়েন্স ক্লাব</li>
              <li>সঙ্গীত ক্লাব</li>
            </ol>
          </div>

            <div class="card text-white bg-info mb-3" style="max-width: 20rem; max-height: 25rem;">
                <div class="card-header text-center">তেজগাঁও কলেজ</div>
                  <div class="card-body">
                      <div class="card-text">
                        <div class="row">
                          <div class="">
                            <p><b>নীতিব্যাক্য</b></p>
                            <p><b>স্থাপিত</b></p>
                            <p><b>অধিভুক্তি</b></p>
                            <p><b>অধ্যক্ষ</b></p>
                            <p><b>শিক্ষক</b></p>
                            <p><b>অবস্থান</b></p>
                            <p><b>শিক্ষাঙ্গন</b></p>
                          </div>
                          <div class="col sm-12" style="margin-left: 2rem;">
                            <p>: Be a builder</p>
                            <p>: 1961 খ্রিষ্টাব্দ</p>
                            <p>: জাতীয় বিশ্ববিদ্যালয়</p>
                            <p>: মোহাম্মদ আব্দুর রশিদ</p>
                            <p>: 140</p>
                            <p>: ঢাকা, বাংলাদেশ</p>
                            <p>: 16 ইন্দিরা রোড, ফার্মগেট, ঢাকা।</p>
                          </div>
                        </div>
                      </div>
                  </div>
            </div>
        </div>
      </div>
