<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Tejgaon College</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <head>
    <!-- Custom styles for this template -->
    <link href="css/landing.css" rel="stylesheet">
  </head>

  <body class="text-center">
    <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div id="content">
                    <h1 class="display-3">TEJGAON COLLEGE</h1>
                  <p class="lead"></p>
                  <hr>
                  <a class="btn btn-info btn-lg" href="/usersignup" type="button">Register</a>
                  <a class="btn btn-success btn-lg" href="/userlogin" type="button">Login</a>
              </div>
            </div>
          </div>
          <p class="mt-5 mb-3 text-muted text-center">&copy; Kamrul Islam Hridoy</p>
        </div>
</body>
</html>
