<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Tejgaon College</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <head>
    <!-- Custom styles for this template -->
    <link href="css/styles.css" rel="stylesheet">
  </head>

  <body class="text-center" style="color: #274752;">
             <form class="form-signin" action="/userlogin", method="POST">
            <img class="rounded-circle" src="images/image.jpg" alt="image" height="90" width="90">
            <h1 class="h3 mb-3 font-weight-normal">Please login to continue</h1>

            <input type="email" name="email" class="form-control top" placeholder="email" required autofocus>
            <input type="password" name="password" class="form-control bottom" placeholder="password" required>

            <button class="btn btn-outline-info btn-rounded btn-block my-3 waves-effect z-depth-0" type="submit">Login</button>

            <p class="options">Not Registered? <a href="/usersignup">Create an Account</a></p>
            <p class="mt-4 mb-3 text-muted">&copy; Kamrul Islam Hridoy</p>
        </form>
</body>
</html>
