
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Tejgaon College</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <head>

    <!-- Custom styles for this template -->
    <link href="css/styles.css" rel="stylesheet">
  </head>
  <body class="text-center">
             <form class="form-signin" action="/usersignup", method="POST">
            <img class="rounded-circle" src="images/image.jpg" alt="image" height="90" width="90">
            <h1 class="h3 mb-3 font-weight-normal">Please signup to continue</h1>

            <input type="text" name="fname" class="form-control top" placeholder="First Name" required autofocus>
            <input type="text" name="lname" class="form-control middle" placeholder="Last Name" required>
            <input type="email" name="email" class="form-control middle" placeholder="email" required>
            <input type="password" name="password" class="form-control bottom" placeholder="password" required>

            <button class="btn btn-outline-info btn-rounded btn-block my-3 waves-effect z-depth-0" type="submit">Register</button>
            <p class="options">Already have an account? <a href="/userlogin">Login</a></p>
            <p class="mt-3 mb-3 text-muted">&copy; Kamrul Islam Hridoy</p>
        </form>
</body>
</html>
